/*Aidan Scott*/
html {
    background-color: black;
    color: white;
}
body {
    font-family: Helvetica, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
header a {
    text-align: center;
}
header img {
    width: 13%;
    height: auto;
}
/*first layer nav*/
nav ul{
    width: 100%;
    display: grid;
    grid-template-columns: 42.5% 5% 5% 5% 42.5%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "empty1 home listen shop";
	margin: 0;
	padding: 0;
	padding-inline-start: 0;
	list-style-type: none;
	border: 0;
    font-size: 125%;
}
nav ul li{
	float: left;
	text-align: center;
}
#home {
    grid-area: home;
}
#listen {
    grid-area: listen;
}
#shop {
    grid-area: shop;
}
/*second layer nav*/
nav ul li ul {
    visibility: hidden;
    display: block;
    font-size: 100%;
}
nav ul li ul li {
    float: none;
}
nav ul li:hover ul {
    visibility: visible;
}
/*nav links*/
a {
    display: block;
}
a:link, a:visited{
	text-decoration: none;
	color: white;
}
a:hover, a:focus{
	text-decoration: underline;
}
footer table {
    font-size: 125%;
    margin: 1rem auto;
    border-spacing: 0rem 0;
}
footer table td {
    width: auto;
    text-align: center;
}
/*Hide all rows except middle column, hover reveals row*/
footer tr {
    visibility: hidden;
}
.footer_hover{
    visibility: visible;
}
footer tr:hover {
    visibility: visible;
}

