/*Aidan Scott*/

html {
    background-color: black;
    color: white;
}
body {
    font-family: Helvetica, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*first layer nav*/
nav ul{
    width: 100%;
    display: grid;
    grid-template-columns: 42.5% 5% 5% 5% 42.5%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "empty1 home listen shop";
	margin: 0;
	padding: 0;
	padding-inline-start: 0;
	list-style-type: none;
	border: 0;
    font-size: 125%;
}
nav ul li{
	float: left;
	text-align: center;
}
#home {
    grid-area: home;
}
#listen {
    grid-area: listen;
}
#shop {
    grid-area: shop;
}
/*second layer nav*/
nav ul li ul {
    visibility: hidden;
    display: block;
    font-size: 100%;
}
nav ul li ul li {
    float: none;
}
nav ul li:hover ul {
    visibility: visible;
}
/*nav links*/
nav a {
    display: block;
}
nav a:link, nav li a:visited{
	text-decoration: none;
	color: white;
}
nav a:hover, nav li a:focus{
	text-decoration: underline;
}
main {
    clear: both;
}